span.order-count {
    position: absolute;
    background: #fff;
    display: inline-block;
    min-width: 23px;
    min-height: 23px;
    text-align: center;
    border-radius: 40px;
    line-height: 23px;
    font-size: 16px;
    right: 17px;
    top: 13px;
    padding: 0 8px;
}