*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'PENULLI';
    src: url('../fonts/PENULLI.TTF');
}

html, body{
    padding:0;
    margin:0;
    font-family: 'Roboto Slab', serif;
    left: 0;
    width: 100%;
}

.bg-img{
    max-width: 700px;
}

.mqw-title {
    margin-top: 20px;
}

.login-container {
    background-image: url("../images/istockphoto-515373062-612x612.jpg");
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-size: contain;
    margin-top: 0%;
    max-width: 700px;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 5px;
}

.login-label{
    color: #ffffff;
    margin-bottom: 15px;
}

.text-input input {
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: none;
}

.mqw-title h2{
    font-family: 'PENULLI';
    font-weight: 200;
    font-size: 32px;
    color: #ffffff;
    margin-top: 5px;
}


.mqw-title span{
    color: #ffb817;
}

img.mqw-logo {
    width: 100%;
    padding: 0 20px;
    max-width: 225px;
    margin-top: 38px;
}

img.mqw-name {
    width: 100%;
    padding: 0px 36px;
    max-width: 300px;
    margin-top: 3px;
}

img.hotel-logo{
    padding-left: 10px;
    width: 20%;
    margin-bottom: -10px;
    padding-top: 7px;
    max-width: 350px;
}

.login-body .remember {
    margin-bottom: 10px;
    color: #ffb817;
}

.button input {
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 20px;
    border: none;
    background: #ffb817;
    color: #ffffff;
    margin-top: 5px;
}

.otp-msg {
    margin-top: 5px;
    color: #ffb817;
    margin-bottom: 10px;
}

.header-container{
    width: 100%;
    max-width: 700px;
    background-image: url('../images/header-bg.png');
    background-size: 100%;
    height: 250px;
    max-height: 250px;
}

img.resto-logo{
    width: 100%;
    padding: 0 20px;
    max-width: 225px;
    margin-top: 38px;
}

.hotel-name{
    width: 60%;
    font-family: 'PENULLI';
    font-weight: 200;
    font-size: 29px;
    color: #ffb817;
    padding: 12px 12px 0;
    margin-top: 5px;
}

.menu-header{
    padding-top: 10px;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
}

.cart{
    padding-left: 17px;
    width: 20%;
    margin-bottom: -10px;
    padding-top: 10px;
    max-width: 350px;
}

.page-title{
    text-align: center;
    color:#ffffff;
    font-family: 'Lucida Sans';
    font-size: 25px;
    padding-top: 28px;
}

.payment-body{
    text-align: center;
    margin-bottom: 29px;
}

.payment{
    width: 100%;
    max-width: 700px;
}

.payment-container{
    width: 100%;
    min-height: 100%;
    margin-top: 0%;
    max-width: 700px;
    margin: 0 auto 0 auto;

}

.center-text{
    text-align: center;
    color: #ffb817;
}

.footer-container{
    width: 100%;
    max-width: 700px;
    background-image: url('../images/footer-bg.png');
    background-size: 100%;
    height: 110px;
    max-height: 200px;
    padding-top: 25px;
    padding-left: 19px;
    display: flex;
}

.company-terms{
    color: #ffffff;
    font-size: 13px;
    width: 70%;
}

.footer-logo{
    width:30%;
} 

.white-logo{
    width: 75%;
    padding-top: 7px;
    max-width: 350px;
}

.copyright{
    width: 100%;
    background-color: #0D5FB3;
    text-align: center;
    height: 20px;
    max-height: 40px;
}

.baseline{
    color: #ffffff;
    font-size: 10px;
}